<div class="border rounded-4 border-secondary shadow-0 m-1"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="card-readonly(user,thumbnail,uuid,title,categoriesList)"
>
    <div class="card m-auto" style="width: 25rem;">
        <img th:src="@{http://localhost:8080/resources/img/profile/{thumbnail}(thumbnail=${thumbnail})}" class="card-img-top rounded-4" alt="...">
        <div class="card-body">
            <div >
                <div  class="pe-5">
                    <img th:src="@{/resources/img/profile/1.jpg}" class="rounded-circle profile float-start" alt="">
                </div>
                <div>
                    <span class="card-title pt-5" th:text="${user.userName}"></span>
                    <div>
                        <p class="fw-lighter">
                            @<span class="card-title " th:text="${user.userName}"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <button class="BT-categories" th:each="cat : ${categoriesList}" th:text="${cat.cat}"></button>
                <div class="card-text " th:text="${title}"> </div>
                <a href="#" class="btn btn-primary" >comment</a>
            </div>
        </div>
    </div>
</div>
<div class="card"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="card-user(userList)"
     th:each="user : ${userList}">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img th:src="@{http://localhost:8080/resources/img/profile/{thumbnail}(thumbnail=${user.profileImg})}" class="img-fluid"/>
        <a href="/profile">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title" th:text="${user.userName}"> </h5>
        <p class="card-text" th:text="${user.description}"></p>
        <a th:href="@{/profile/user(userName=${user.userName})}" lass="btn btn-primary">View Profile</a>
    </div>
</div>

































<!--<div class="border rounded-4 border-secondary shadow-0 m-1"-->
<!--     xmlns:th="http://www.thymeleaf.org"-->
<!--     th:fragment="card-readonly(user,thumbnail,uuid,title,categories)"-->
<!--     th:each="use :${user}"-->
<!--&gt;-->
<!--  <div class="card m-auto" style="width: 25rem;">-->
<!--      <img th:src="${thumbnail}" class="card-img-top rounded-4" alt="...">-->
<!--      <div class="card-body">-->
<!--        <div >-->
<!--            <div  class="pe-5">-->
<!--                <img th:src="@{/resources/img/profile/1.jpg}" class="rounded-circle profile float-start" alt="">-->
<!--            </div>-->
<!--            <div>-->
<!--                <span class="card-title pt-5" th:text="${use.userName}"></span>-->
<!--                <div>-->
<!--                    <p class="fw-lighter">-->
<!--                        @<span class="card-title " th:text="${use.userName}"></span>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <br>-->
<!--                <button class="BT-categories" th:each="cat : ${categories}" th:object="${cat}" th:text="${cat.cat}"></button>-->
<!--          <div class="card-text " th:text="${title}"> </div>-->
<!--          <a href="#" class="btn btn-primary" >comment</a>-->
<!--        </div>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card"-->
<!--     th:fragment="card-user">-->
<!--    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">-->
<!--        <img src="https://i.pinimg.com/736x/18/e5/e0/18e5e0c223895c0a8378acc57f22cb39.jpg" class="img-fluid"/>-->
<!--        <a href="/profile">-->
<!--            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--        <a href="#!" class="btn btn-primary">View Profile</a>-->
<!--    </div>-->
<!--</div>-->