<div class="d-flex justify-content-around categories">
    <button type="button" class="btn btn-secondary btn-rounded">Gamming</button>
    <button type="button" class="btn btn-secondary btn-rounded">Stories</button>
    <button type="button" class="btn btn-secondary btn-rounded">Student</button>
    <button type="button" class="btn btn-secondary btn-rounded">Programming</button>
    <button type="button" class="btn btn-secondary btn-rounded">Science</button>
    <button type="button" class="btn btn-secondary btn-rounded">Other</button>
</div>